<form class="container col-5 bg-light" #registerForm="ngForm" (ngSubmit)="registerSubmitForm()">
  <div class="d-flex text-center mb-3 pb-1">
    <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
    <span class="h1 text-center fw-bold mb-0">E-Commerce Website</span>
  </div>

  <label class="form-label" for="name">Name</label>
  <div data-mdb-input-init class="form-outline mb-4">
    <input type="text" id="name" class="form-control form-control-lg" name="name" required [(ngModel)]="form.name"
      #name="ngModel" minlength="8" />
    <div *ngIf="name?.touched && name?.invalid" class="text-form text-danger">
      <div *ngIf="name?.errors?.['required']">
        <small>name is required.</small>
      </div>
      <div *ngIf="name?.errors?.['minlength']">
        <small>name must be at least 8 characters long.</small>
      </div>
    </div>
  </div>

  <label class="form-label" for="email">Email</label>
  <div data-mdb-input-init class="form-outline mb-4">
    <input type="email" id="email" class="form-control form-control-lg" name="email" required email
      [(ngModel)]="form.email" #email="ngModel" />
    <div *ngIf="email?.touched && email?.invalid" class="text-form text-danger">
      <div *ngIf="email?.errors?.['required']">
        <small>email is required.</small>
      </div>
      <div *ngIf="email?.errors?.['email']">
        <small>email is not valid!</small>
      </div>
    </div>
  </div>

  <label class="form-label" for="password">Password</label>
  <div data-mdb-input-init class="form-outline mb-4">
    <input type="password" id="password" class="form-control form-control-lg" name="password" required
      pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" minlength="8"
      [(ngModel)]="form.password" #password="ngModel" />
    <div *ngIf="password?.touched && password?.invalid" class="text-form text-danger">
      <div *ngIf="password?.errors?.['required']">
        <small>Password is required.</small>
      </div>
      <div *ngIf="password?.errors?.['minlength']">
        <small>Password must be at least 8 characters long.</small>
      </div>
      <div *ngIf="password?.errors?.['pattern']">
        <small>Password must contain at least one uppercase letter, one lowercase letter, one number, and one special
          character.</small>
      </div>
    </div>
  </div>

  <label class="form-label" for="conpassword">Confirm password</label>
  <div data-mdb-input-init class="form-outline mb-4">
    <input type="password" id="conpassword" class="form-control form-control-lg" name="conPassword" required
      [(ngModel)]="form.conPassword" [pattern]=" form.password" #conPassword="ngModel" />
    <div *ngIf="conPassword?.invalid && (conPassword?.dirty || conPassword?.touched)" class="text-form text-danger">
      <div *ngIf="conPassword?.errors?.['required']">
        <small>Confirm Password is required.</small>
      </div>
      <div *ngIf="conPassword?.errors?.['pattern']">
        <small>Passwords do not match.</small>
      </div>
    </div>
  </div>

  <div class="pt-1 mb-4">
    <button data-mdb-button-init data-mdb-ripple-init class="btn btn-dark btn-lg btn-block " type="submit"
      [disabled]="registerForm.invalid">Register</button>
  </div>

  <p class="mb-5 pb-lg-3 m-5 text-center   " style="color: #393f81;">Already have account!
    <strong><a [routerLink]="['/login']" class="text-decoration-none" style="color: #393f81;">Login</a></strong>
  </p>

</form>
